	@font-face {
    font-family: Cocogoose;
	src: url(Cocogoose.ttf);
   }
	 @font-face{
	 	font-family: Lulo;
	 	src: url(Lulo.otf);
	 }

 	body{
 		background-color: teal;
 	}

#hstext{
	font-family: Lulo;
	color: Teal;
	font-size: smaller;
}

 li{
	 border: 1px;

	 padding: 11px;
	 list-style-type: none;
	 border: none;
   text-align: center;
	 padding-right: 5px;
   font-size: smaller;
	 font-family: Lulo;
	 transition: all 2s;
	 animation: fadeIn 0.2s ease-in;
	 margin-left: 4px;
 }



    .wrapper{
	position: absolute;
	width: 200px;
	left: 50%;
    margin-top:-664px;
	margin-left: -767.5px;
	}
	.wrapper2{
	position: absolute;
	width: 1200px;
	left: 50%;
	margin-left: -760px;
	}

	.tilenator{
	position: absolute;
	left:-143%;
 font-size: 20px;
	color: black;
  top: 15%;
	font-family: Lulo;
	letter-spacing: -2px;
	text-shadow: 2px 2px #ededed;
	}

	#thecanvas{
		display: none;
	position: absolute;
	top: 5%;
	border: 2px;
	border-bottom: 3px;
	width: 360px;
	height: 600px;
	left: 32%;
	border-style: solid;
	border-color:  black;
	outline: none;
	border-radius: 12px 0px 0px 12px;
	border: none;
	touch-action: manipulation;
	}

[v-cloak] {display: none;}

	.theVue{
  position: absolute;
	width: 200px;
	height: 600px;
	background-color: #ededed;
	left: calc(32% + 360px);
	top: 5%;
	border: 2px;
	border-style: solid;
	border-color: black;
  border-radius: 0px 12px 12px 0px;
	border: none;
	}

 .show{
	 display: block;
 }

  .shadowBox{
		position: absolute;
		 z-index: -1;
		width: 560px;
		height: 600px;
    background-color: white;
		top: 5%;
		left:32%;
		border-radius: 12px;
		box-shadow: 0px 1px 20px 0px #333333;
	}

	.decoImg{
		position: absolute;
		background-image: url("../images/tilesart.png");
		 z-index: 2;
		width: 560px;
		height: 300px;
    pointer-events: none;
		top: 50%;
		left:-180%;
    border-radius: 0px 0px 12px 0px;
		opacity: 0.5;
	}

 .OK{
	 position: absolute;
	 display: block;
	 margin-top: -67px;
	 margin-left: 45%;
	 color: white;
	 pointer-events: none;
 }

	#app input {
	  width: 252px;
	  padding: 8px;
	  background-color: black;
		border: none;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		border-radius: 1px;
		font-family: Lulo;
		font-size: smaller;
		border-radius: 8px;
		outline: none;
	}

 #app button{
	 display: inline-block;
	 width: 150px;
	 height: 70px;
	 padding: 18px;
	 background-color: black;
   border: none;
	 text-align: center;
	 font-weight: bold;
	 font-size: 2vh;
	 border-top: white;
	 margin-top: 20px;
	 color: white;
	 overflow: hidden;
	 border-radius: 10px;
 }

 #app button:hover{
	 display: inline-block;
	 width: 150px;
	 height: 70px;
	 padding: 18px;
	 text-align: center;
	 font-weight: bold;
	 font-size: 2.1vh;
	 color: white;
	 transition: 0.1s;
	 border-top: white;
	 margin-top: 20px;
	 box-shadow: 0px 1px 10px 0px #333333;
 }

	.userInput{
		display: block;
 position: absolute;
 width: 360px;
 height: 130px;
 left: -360px;
 top: calc(40% - 2px);
 background-color: white;

	}
    .button {
    width: 80px;
    height: 45px;
    background: white;
    border: solid;
    color: black;
    font-size:14px;
    font-weight:700;
	border-radius: 0px     0px      0px           15px;
    }

	.wrapper{
	background-color: red;
	}

	.backbtn{
	position:fixed;
    top: 20px;
    left: 20px;
    width:38px;
    height:38px;
	background-color: transparent;
	}

	.menuline{
	position:fixed;
    top: 29px;
    left: 24px;
    width:30px;
    height:4px;
	background: white;
	display:block;

	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
