

@font-face {
  font-family: Lulo;
  src: url('Lulo.woff');
}

@font-face {
  font-family: Futura;
  src: url('FuturaLT.ttf');
}



p {
   font-size:9px;
   font-family:Lulo;
   color: black;
   -ms-transform: scale(1, 0.9); /* IE 9 */
    -webkit-transform: scale(1, 0.9); /* Safari */
   transform: scale(1, 0.9);
   margin-top: -6px;

   text-align: left;
}
body {
  background: linear-gradient(270deg, #001780, #151515, #fafafa);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 36s ease infinite;
  -moz-animation: AnimationName 36s ease infinite;
  animation: AnimationName 36s ease infinite;

}




img{
   width: 20vw;
	height: 20vw;
  float: left;
  padding: 2vw;
}

.poster{
  height: 28%;
  width: 28.3%;
  object-fit: contain;
  padding-left: 2vw;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
