
@font-face {
  font-family: Lulo;
  src: url('Lulo.woff');
}


@font-face {
  font-family: Futura;
  src: url('FuturaLT.ttf');
}

h1 {font-family: Lulo;
    font-size: 24px;
}

h1.title {font-family: Lulo;
overflow:hidden;
    display:inline-block; 
    position:fixed;
    font-size: 25px;
	margin-left: 0%;
	margin-top:20px;
	color: white;
	overflow: hidden;
    -webkit-animation: slide-top 1s, fadein 1s;
	-webkit-animation: slide-top 1s, fadein 1s; 
       -moz-animation: slide-top 1s, fadein 1s; 
        -ms-animation: slide-top 1s, fadein 1s; 
         -o-animation: slide-top 1s, fadein 1s;
            animation: slide-top 1s, fadein 1s;
			
}

h2 {font-family: Lulo;
    font-size: 13px;
	color:white;}
	
h2.under {font-family: Lulo;
    font-size: 13px;
	margin-left: 0%;
	margin-top: 58px;	
	background-color:white;
    overflow:hidden;
    display:inline-block;  
    color:transparent;
	

	-webkit-animation: slide-right 0.8s, fadein 1s, precolor 0.5s, colorfade 2s;
	-webkit-animation: slide-right 0.8s, fadein 1s, precolor 0.5s, colorfade 2s; 
       -moz-animation: slide-right 0.8s, fadein 1s, precolor 0.5s, colorfade 2s; 
        -ms-animation: slide-right 0.8s, fadein 1s, precolor 0.5s, colorfade 2s; 
         -o-animation: slide-right 0.8s, fadein 1s, precolor 0.5s, colorfade 2s;
            animation: slide-right 0.8s, fadein 1s, precolor 0.5s, colorfade 2s;
			animation-delay: 0s,0s,0s,0.5s;
}  

.dropdown {
    position: relative;
    display: inline-block;
}
.btn {
  background-color: transparent;
    width: 140px;
    color: #008080;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2;
    border: none;
	font-family: Lulo;
	
	font-size: 13px;
	text-decoration: none;
	
}
.dropbtn {
    background-color: transparent;
    color: #008080;
    width:140px;
    border: none;
	font-family: Lulo;
	font-size: 13px;
	text-decoration: none;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2;

}
.dropdown-content {
    display: none;
	width: 140px;
    position: absolute;
    background-color: white;
    z-index: 1;
	font-family:Lulo;
	font-size: 13px;
	text-align: center;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2;
}

.dropdown-content a {
    color: #008080;
    padding: 8px 11.5px;
    text-decoration: none;
    display: block;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2;
}

.dropdown-content a:hover {background-color: #f4f4f4; color:white}
.btn:hover {background-color: #f4f4f4; color:white}
.dropdown:hover .dropdown-content {
    display: block;
}

.wrapper{
font-size: 0;
position: static;

margin: 0 auto;
top: -2px;
overflow: hidden;
width:1000px;
height:600px;
}
.menu{
position: absolute;
top: 132px;
width:420px;
margin-left: 580px;
height:90px;

	-webkit-animation: fadein 1.0s; 
       -moz-animation: fadein 1.0s; 
        -ms-animation: fadein 1.0s; 
         -o-animation: fadein 1.0s;
            animation: fadein 1.0s;
			animation-delay: 0s;
}

.box{
position: absolute;
top: 132px;
width:1000px;
margin-left: 0px;
height:500px;
background-color: white;
	-webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s;
            animation: fadein 1s;
			animation-delay: 0s;
}

.dropdown:hover .dropbtn {
    background-color: #f4f4f4;};
}

<!-- SLIDE RIGHT -->

@keyframes slide-right {
    from { margin-left: -40%; }
    to   { margin-left: 0; }
}

@-moz-keyframes slide-right {
    from { margin-left: -40%; }
    to   { margin-left: 0; }
}

@-webkit-keyframes slide-right {
    from { margin-left: -40%; }
    to   { margin-left: 0; }
}

@-ms-keyframes slide-right {
    from { margin-left: -40%; }
    to   { margin-left: 0; }
}

@-o-keyframes slide-right {
    from { margin-left: -40%; }
    to   { margin-left: 0; }
}

<!-- SLIDE TOP -->

@keyframes slide-top {
    from { margin-top: 50px; }
    to   { margin-top: 20px; }
}

@-moz-keyframes slide-top {
    from { margin-top: 50px; }
    to   { margin-top: 20px; }
}

@-webkit-keyframes slide-top {
    from { margin-top: 50px; }
    to   { margin-top: 20px; }
}

@-ms-keyframes slide-top {
    from { margin-top: 50px; }
    to   { margin-top: 20px; }
}

@-o-keyframes slide-top {
    from { margin-top: 50px; }
    to   { margin-top: 20px; }
}

<!-- FADE -->

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

<!-- COLOR -->

@keyframes colorfade {
    from { color: #ffffff; }
    to   { color: #008080; }
}

@-moz-keyframes colorfade {
    from { color: #ffffff; }
    to   { color: #008080; }
}

@-webkit-keyframes colorfade {
    from { color: #ffffff; }
    to   { color: #008080; }
}

@-ms-keyframes colorfade {
    from { color: #ffffff; }
    to   { color: #008080; }
}

@-o-keyframes colorfade {
    from { color: #ffffff; }
    to   { color: #008080; }
}

<!-- COLOR LINE -->

@keyframes colorfadeline {
    from { background-color: #ffffff; }
    to   { background-color: #EB5707; }
}

@-webkit-keyframes colorfadeline {
    from { background-color: #ffffff; }
    to   { background-color: #EB5707; }
}

<!-- PRE-COLOR-->

@keyframes precolor {
    from { color: #ffffff; }
    to   { color: #ffffff; }
}

@-moz-keyframes precolor {
    from { color: #ffffff; }
    to   { color: #ffffff; }
}

@-webkit-keyframes precolor {
    from { color: #ffffff; }
    to   { color: #ffffff; }
}

@-ms-keyframes precolor {
    from { color: #ffffff; }
    to   { color: #ffffff }
}

@-o-keyframes precolor {
    from { color: #ffffff; }
    to   { color: #ffffff }
}

p {
   font-size:9px;
   font-family:Lulo;
   color: black;
   -ms-transform: scale(1, 0.9); /* IE 9 */
    -webkit-transform: scale(1, 0.9); /* Safari */
   transform: scale(1, 0.9);
   margin-top: -6px;

   text-align: left;
}
body {
    color:transparent;
    overflow: hidden;
background: linear-gradient(-45deg, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}



@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

span { 
    background: linear-gradient(-45deg, #a0629d, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display:block;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
	position: absolute;
	margin-left: -186px;
	margin-top: 238px;
	overflow: hidden;
}
	
.btn:focus {outline:0;}