	
	@font-face {
    font-family: 'COCOGOOSE';
	src: "Cocogoose.ttf";
   }

    .wrapper{
	position: absolute;
	width: 200px;
	left: 50%;
    margin-top:-664px;
	margin-left: -767.5px;
	}
	.wrapper2{
	position: absolute;
	width: 1200px;
	left: 50%;
	margin-left: -760px;
	}
	
	#tilestitle{
	position: absolute;
	left:50%;
	margin-left: -329px;
	color: black;
	width:200px;
	font-size:30px;
	font-family: 'COCOGOOSE', sans-serif;
	}
	
	#targetcanvas{
	margin-top: 45px;
	}
    .button {
    width: 80px;
    height: 45px;   
    background: white;
    border: solid;
    color: black;   
    font-size:14px;
    font-weight:700;
	font-color:red;
	border-radius: 0px     0px      0px           15px;
    }
	
	.wrapper{
	background-color: red;
	}
	
	.backbtn{
	position:fixed;
    top: 20px;
    left: 20px;
    width:38px;
    height:38px;
	background-color: transparent;
	}

	.backbtn:hover{
	background-color: #f4f4f4;
	-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2;
	}
	
	.menuline{
	position:fixed;
    top: 29px;
    left: 24px;
    width:30px;
    height:4px;
	background: black;
	display:block;
	
	}

	@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
	